{{#if editing}}
  {{input type="text" placeholder="New List title" value=list.title}}
  <button class="btn btn-success" {{action 'submit'}}>Save list</button>
  <button class="btn btn-danger" {{action 'cancel'}}>Cancel</button>
{{else}}
  <h3 {{action 'showEditing'}}>List title: {{list.title}}</h3>
{{/if}}
