<div class="list">
  {{!-- <h3>List title: {{list.title}}</h3> --}}
  {{editable-title list=list submit='submit'}}
  <hr />
  {{#each list.todos as |todo|}}
    {{single-todo todo=todo todoDone='todoDone' deleteTodo='deleteTodo'}}
  {{/each}}
  {{#if list.isEmpty}}
    <p>This list is empty! Click below to start adding todos</p>
  {{/if}}
  {{my-new-todo list=list addNewTodo='addNewTodo'}}
  {{#if list.isEmpty}}
    {{delete-list deleteList='deleteList' list=list}}
  {{/if}}
</div>
