{{!-- {{model}} --}}
{{my-new-list newList=model.newList addNewList='addNewList'}}
{{#each model.filteredList as |list|}}
  <div class="list">
    <h3>List title: {{list.title}}</h3>
    {{#each list.todos as |todo|}}
      {{single-todo todo=todo}}
    {{/each}}
    {{delete-list}}
  </div>
{{/each}}

{{outlet}}
